<div class="row justify-content-center">
    <div class="col-8 bg-2 p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-12 px-0">
                <p class="bg-w-1 p-4 fw-bold fs-24 text-white"> <i class="fa-solid fa-house"></i> Journal Menu</p>
            </div>
            <div class="col-12"><a routerLink="" class="btn active">Computation Home</a></div>
            <div class="col-12"><a routerLink="" class="btn">Aims & scope</a></div>
            <div class="col-12"><a routerLink="" class="btn">Editorial Board</a></div>
            <div class="col-12"><a routerLink="" class="btn">Reviewer Board</a></div>
            <div class="col-12"><a routerLink="" class="btn">Topics</a></div>
            <div class="col-12"><a routerLink="" class="btn">Journal Statistics</a></div>
            <div class="col-12"><a routerLink="" class="btn">Journal History</a></div>
            <div class="col-12"><a routerLink="" class="btn">Jorunal Awards</a></div>
            <div class="col-12"><a routerLink="" class="btn">Conferences</a></div>
            <div class="col-12"><a routerLink="" class="btn">Editorial Office</a></div>
            <div class="col-12"><a routerLink="" class="btn">Computación Inicio</a></div>
        </div>
        
        

        
      </div>
    
</div>
