<app-headerweb></app-headerweb>
    <div class="coverimg h-50 w-100 top-0 start-0 " id="image-daytime" style="background-image: url(assets/img/bg-1.webp);">
        <div class="overlay"></div>
        <img src="assets/img/bg-1.webp" alt="" class="w-100" style="display: none;">
        <div class="frase">
            <div class="col-auto ">
                <a class="btn marca m-0 p-0" routerLink="/login">
                  <div class="row">
                      <div class="col-auto"><span class="logo-icon"><img src="assets/img/logo.webp" class="mx-100" alt=""></span></div>
                      <div class="col ps-0 align-self-center lh-20">
                          <div class="fw-normal color-2 fs-36 text-white text-start">Creatividad</div>
                          <div class="fs-24 text-secondary fw-normal text-start">Innovación </div>
                          <div class="fs-24 text-secondary fw-normal text-start">Sociedad </div>
                      </div>
                  </div>
                </a>
              </div>
        </div>
    </div>
<div class="row mx-0 submenu">
    <div class="col-xl-4">
        <app-submenu></app-submenu>
    </div>
    <div class="col-xl-7 contenido">
        <h1 class="pt-4">About Computation</h1>
        <p>Computation (ISSN 2079-3197), a journal of computational science and engineering. It publishes reviews, 
            regular research papers, and communications, and there is no restriction on the maximum length of the papers. 
            Our aim is to encourage scientists to publish their experimental and theoretical research in as much detail as possible. 
            Full experimental and/or methodical details must be provided for research articles. There are, in addition, unique features of this journal
        </p>
    </div>
</div>
   