<div class="coverimg h-100 w-100 top-0 start-0 position-absolute" id="image-daytime" style="background-image: url(assets/img/bg-1.webp);">
    <div class="overlay"></div>
    <img src="assets/img/bg-1.webp" alt="" class="w-100" style="display: none;">
  </div>
  
  <header class="header">
    <!-- Fixed navbar -->
    <nav class="navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/login">
                <div class="row">
                    <div class="col-auto"><span class="logo-icon"><img src="assets/img/logo.webp" class="mx-100" alt=""></span></div>
                    <div class="col ps-0 align-self-center">
                        <div class="fw-normal text-white fs-4">CIAF</div>
                        <div class="fs-6 text-secondary fw-normal">Centro investigaciones</div>
                    </div>
                </div>
            </a>
            <div>
                <a routerLink="/registro" class="btn btn-link text-white text-center"> <i class="fa-regular fa-circle-user"></i> <span class="d-lg-inline-block"> Registro</span></a>
                <a routerLink="/login" class="btn btn-link text-white text-center"><i class="fa-solid fa-right-to-bracket"></i> <span class="d-lg-inline-block"> Ingresar</span></a>
            </div>
        </div>
    </nav>
  </header>
