<app-headerweb></app-headerweb>

<div class="coverimg h-100 w-100 top-0 start-0 position-absolute" id="image-daytime" style="background-image: url(assets/img/bg-1.webp);">
    <div class="overlay"></div>
    <img src="assets/img/bg-1.webp" alt="" class="w-100" style="display: none;">
  </div>
  
<main class="main mainheight container-fluid" >
  <!-- time and temperature -->
  <div class="row text-white my-2">
      <div class="col">
          <p class="display-3 mb-0"><span id="time">11:33</span><small><span class="h4 text-uppercase" id="ampm"> am</span></small></p>
          <p class="lead fw-normal" id="date">1 March 2024</p>
      </div>
      <div class="col-auto text-end">
          <p class="display-3 mb-0">
              <img src="assets/img/lluvia.webp" alt="" class="vm me-0 tempimage" id="tempimage">
              <span id="temperature">8.4</span><span class="h4 text-uppercase"> <sup>0</sup>C</span>
          </p>

          <a href="javascript:void()" class="btn btn-link text-white dd-arrow-none dropdown-toggle" id="selectCity" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="h5 fw-normal" id="city">London</span> <i class="bi bi-pencil-square small fw-light"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="selectCity" id="citychange">
              <li class="dropdown-item" data-value="New York">New York</li>
              <li class="dropdown-item active" data-value="London">London</li>
              <li class="dropdown-item" data-value="Qatar">Qatar</li>
              <li class="dropdown-item" data-value="Delhi">Delhi</li>
              <li class="dropdown-item" data-value="Sydney">Sydney</li>
          </ul>
      </div>
  </div>
  <!-- time and temperature ends -->

  <div class="row align-items-center justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 text-center text-white">
          <p class="h4 fw-light">Creatividad, innovación &amp; sociedad  Open Journal System</p>
          <p class="mb-5">
              formulario de ingreso &amp; best for your brand design. siempre puedes <b>crear una nueva cuenta</b> <a routerLink="/registro" class="text-white"> Regístrate!</a>
          </p>

            <form class="mb-4 text-start" (ngSubmit)="login()">
              <!-- alert messages -->
              <div class="alert alert-danger fade show d-none mb-2 global-alert" role="alert">
                  <div class="row">
                      <div class="col"><strong>Requierd!</strong> Please enter valid data.</div>
                  </div>
              </div>
              <div class="alert alert-success fade show d-none mb-2 global-success" role="alert">
                  <div class="row">
                      <div class="col-auto align-self-center ">
                          <div class="spinner-border spinner-border-sm text-success me-2" role="status">
                              <span class="visually-hidden">Loading...</span>
                          </div>
                      </div>
                      <div class="col ps-0">
                          <strong>Awesome!</strong> Taking you to the next page.
                      </div>
                  </div>
              </div>
              <!-- Form elements -->

                <div class="form-group mb-2 position-relative check-valid text-dark is-valid">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text text-theme bg-2 border-0"><i class="fa-regular fa-envelope"></i></span>
                        <div class="form-floating">
                            <input class="form-control border-start-0" placeholder="Email" autofocus="" type="email" name="user_email"  [(ngModel)]="user_email" required >
                            <label>Correo Electrónico</label>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2 position-relative check-valid text-dark is-valid">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text text-theme bg-2 border-0"><i class="fa-solid fa-key"></i></span>
                        <div class="form-floating">
                            <input class="form-control border-0" placeholder="Password" autofocus="" type="password" name="user_password" 
                             required autocomplete="on">
                            <label for="password">Contraseña</label>
                        </div>
                        <span class="input-group-text text-secondary bg-2 border-0" id="viewpassword"><i class="fa-regular fa-eye"></i></span>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-ciaf btn-lg" type="submit" ><i class="fa-solid fa-arrow-right"></i> Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</main>

<app-footerweb></app-footerweb>
