<footer class="footer text-white mt-auto container-fluid">
    <div class="row">
        <div class="col-12 col-md-12 col-lg py-2">
            <span class="small">Copyright @2022, Creatively designed by <a href="https://maxartkiller.com" target="_blank">Maxartkiller</a> on Earth ❤️</span>
        </div>
        <div class="col-12 col-md-12 col-lg-auto align-self-center">
            <ul class="nav small">
                <li class="nav-item"><a class="nav-link" href="help-center.html">Help</a></li>
                <li class="nav-item">|</li>
                <li class="nav-item"><a class="nav-link" href="terms-of-use.html">Terms of Use</a></li>
                <li class="nav-item">|</li>
                <li class="nav-item"><a class="nav-link" href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
  </footer>
  
